* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	color: #fff;
	background: linear-gradient(120deg, #117a65 60%, #28b463 60%);
}

nav {
	margin-top: 100px;
	background-color: #212f3c;
	text-align: center;
}

ul {
	list-style: none;
	font-size: 24px;
}

.menu-item {
	display: inline-block;
	height: 100px;
	width: 300px;
	line-height: 100px;
	border-radius: 75px;
	cursor: pointer;
}

.list {
	position: absolute;
	width: 300px;
	transition: background-color 0.5s;
}

.list li:hover {
	background-color: #212f3c;
}

.list li {
	display: none;
	opacity: 0;
}

.menu-item:hover .list li {
	display: block;
	animation: menu1 0.8s forwards;
}

.menu-item:hover .list li:nth-child(2) {
	animation-delay: 0.2s;
}

.menu-item:hover .list li:nth-child(3) {
	animation-delay: 0.4s;
}

.menu-item:hover .list li:nth-child(4) {
	animation-delay: 0.6s;
}

@keyframes menu1 {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
